* {
    color: indigo;
    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: #333;
}

.container {
    width: 70%;
    border: 1px solid steelblue;
    background-color: snow;
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px hotpink;
}

.cabecera {
    background-color: indigo;
    border-radius: 5px 5px 0 0;
    padding: 0.8em 1em;
    margin: 0%;
}

.cabecera h1,
.cabecera span {
    color: snow;
}

.cabecera h1 {
    margin: 0%;
    text-transform: capitalize;
    font-size: 26pt;
    font-weight: bold;
}

.cabecera span {
    font-size: 18pt;
}

.cuento {
    padding: 0 1em;
}

.cuento h1 {
    font-size: 22pt;
    font-weight: bold;
}

.cuento p {
    font-size: 14pt;
    font-weight: bold;
}
